In [1]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\guena\appdata\roaming\python\python311\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\guena\appdata\roaming\python\python311\site-packages (from mysql-connector-python) (3.20.3)

In [2]:
import mysql.connector as connector

In [3]:
connection = connector.connect(user = "root", password = "admin")

In [4]:
connection = connector.connect(user = "root", password = "admin", db = "littlelemondb")

In [5]:
cursor = connection.cursor()

In [6]:
show_tables_query = "SHOW tables" 
results=cursor.execute(show_tables_query)

In [7]:
results

In [8]:
tables = cursor.fetchall()
for table in tables:
    print(table[0])

booking
customer
deliverystatus
menu
orders
staff

In [9]:
customer_join_query = '''
        SELECT
            c.Name AS FullName,
            cd.Email AS Email,
            cd.PhoneNumber AS PhoneNumber,
            cd.Address AS Address,
            cd.Country AS Country,
            cd.City AS City,
            o.TotalCost AS Cost
        FROM Customers c
        JOIN ContactDetails cd
            USING (CustomerID)
        JOIN orders o
            USING (CustomerID)
        WHERE o.TotalCost > 60
        ORDER BY o.TotalCost DESC;
'''

In [10]:
customers = cursor.fetchall()
print(f'There are {len(customers)} customers with more than $60 of spending...')
print('Printing the top 10 spenders...')

There are 0 customers with more than $60 of spending...
Printing the top 10 spenders...

In [11]:
for customer in customers[:10]:
    print('=' * 50)
    print(f'Full Name: \t {customer[0]}')
    print(f'Email: \t\t {customer[1]}')
    print(f'Phone Number: \t {customer[2]}')
    print(f'Address: \t {customer[3]}')
    print(f'Country: \t {customer[4]}')
    print(f'City: \t\t {customer[5]}')
    print(f'Has spent: \t {float(customer[6])}')